<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Pizza Uno</title>
<link rel="stylesheet" th:href="@{/css/mgg.css}" />
</head>

<body>
	<h1>Pizza Uno</h1>

	<div class="commondiv" id="div_list">
		<table border="1">
			<caption><b>Menu</b></caption>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
			</tr>
			<tr th:each="pizza : ${pizzas}">
				<td th:text="${pizza.id}">...</td>
				<td th:text="${pizza.name}">...</td>
				<td th:text="${pizza.value}">...</td>
			</tr>
		</table>
	</div>

</body>


</html>